body {
    background-color: khaki;
}

@media only screen and (max-width:600px) {
    body{
        background-color: white;
    }
}

h2 {
    border: 3px solid black;
    margin-left: 40%;
    font-weight: bolder;
    text-align: center;
    background-color: green;
    width: 20%;
    color: aliceblue;
}

#buttn {
    margin-left: 48%;
    margin-bottom: 8px;
    background-color: green;
}

.restaurant {
    margin-left: 35%;
    border: 3px solid black;
    text-align: center;
    width: 30%;
    background-color: green;
}

.list {
    list-style-type: none;
}

.res {
    color: aliceblue;
    font-weight: bold;
    font-size: large;
}

figure {
    display: inline-block;
    margin-left: 28%;
    margin-top: 5%;
}

#doncas {
    width:30%
}

#ramen {
    width : 30%;
}